build
.cache
.ccls-cache
CMakeUserPresets.json
aoc-puzzle-inputs
__pycache__
TODO.md
compile_commands.json

# jupyter files
.virtual_documents
.ipynb_checkpoints

bench.db

# Rust related content
src/**/target/
src/**/Cargo.lock
libs/**/rust/target/
libs/**/rust/Cargo.lock
