build
.cache
.ccls-cache
CMakeUserPresets.json
aoc-puzzle-inputs
__pycache__
TODO.md
compile_commands.json

# jupyter files
.virtual_documents
.ipynb_checkpoints

bench.db

# Rust related content
# TODO fix Cmake so that these aren't put into src/
src/**/target/
src/**/Cargo.lock
libs/rust/**/target/
libs/rust/**/Cargo.lock
